<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="display-4">Most Discussed Reviews</h1>
    </div>
</div>

<ng-template [ngIf]="famousReviews.length > 0" [ngIfElse]="noreviews">
    <div class="container card-columns mt-5">
        <app-review-card *ngFor="let famousReview of famousReviews"
            [review]="famousReview"></app-review-card>
    </div>
</ng-template>

<ng-template #noreviews>
    <div class="mt-4">
        <div class="d-flex justify-content-center">
            <h3 class="text-dark">There are no reviews being discussed...</h3>
        </div>
    </div>
</ng-template>