.review-image {
    border-radius: 5px;
}

.review-content {
    white-space: preline;
}

.text-wrapper {
    float: left;
    margin: 0 0 1em 0;
}

/*Mobile first*/
@media (min-width: 576px) {
    .text-wrapper {
        float: left;
        margin: 0 1em 0 0;
    }
}